/* base properties */
#life > .row {
  margin: 0;
  border: 0;
  padding: 0;

  /* clearfix hack */
  float: left;
  clear: both;
}

#life > .row > .cell {
  float: left;
  position: relative;

  margin: 4px 4px 0 0;
  padding: 0px;

  height: 40px;
  width: 40px;

  background-color: black;
}

#life > .row > .cell > .interior {
  margin: 15px 0 0 15px;
  border: 0;
  padding: 0;
  height: 10px;
  width:10px;
}

/* state-based coloring */

#life > .row > .cell {
  border-color: white;
  background-color: black;
}

#life > .row > .cell.alive {
  background-color: white;
}

#life > .row > .cell.toKill > .interior {
  background-color: black;
}

#life > .row > .cell.toSpawn > .interior {
  background-color: white;
}
